.cryptic-home{
   background-color: black;
   height: 100svh;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column; 
}

.cryptic-home h1{
    color:white;
    font-family: esummit;
    font-size: 60px;
}

.cryptic-home h2{
    color:white;
    font-family: esummit;
    font-size: 50px;
}

.cryptic-levels{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    gap:20px
}